.label__float{
    position: relative;
    padding-top: 20px;
}

.modal__form--input{
    border: 1px solid var(--color-box);
    border-radius: 5px;
    outline: none;
    width: 280px;
    height: 40px;
    padding: 12px;
    font-size: var(--font-small)
  }
  
  .modal__form--input:focus{
    border: 2px solid var(--color-blue)
  }
  
  .modal__form--label{
    position: absolute;
    top: calc(50% - 23px);
    left: 10px;
    background-color: var(--color-white);
    padding: 5px;
    font-size: var(--font-small);
  }

  .modal__form--input:focus + .modal__form--label,
  .modal__form--input:not(:placeholder-shown) + .modal__form--label{
    font-size: var(--font-small);
    top: 0;
  }  

  .modal__vehicles, .modal__vehicles--edit{
      display: none;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      top: 50%; 
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--color-white);
      color: var(--color-text);
      width: 650px;
      border-radius: 10px;
      border: none;
      box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
      z-index: 1000;
  }

  .modal__container{
    border-radius: 10px;
  }

  .modal__header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: var(--color-blue);
    width: 650px;
    height: 76px;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .modal__title{
    color: var(--color-white);
    font-size: var(--font-large);
  }

  .modal__button--close{
    background-color: transparent;
    border: none;
    width: 13px;
    height: 13px;
    cursor: pointer;
  }

  .modal__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
  }

  .modal__column{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .modal__location{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 32px;
  }

  .modal__subtitle{
    font-size: var(--font-medium);
    font-weight: normal;
  }

  .modal__location--inputs{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .modal__comfort{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 20px 0 20px 32px;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    position: relative;
  }

  .modal__km{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 32px;
  }

  .modal__footer{
    display: flex;
    justify-content:flex-end;
    margin: 32px;
  }

  .modal__save{
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
  }

  .modal__save:hover{
    background-color: var(--color-green);
  }

  .modal__rating,
  .modal__rating--edit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    direction: rtl;
  }
  
  .modal__rating input,
  .modal__rating--edit input {
    display: none;
  }
  
  .modal__rating label,
  .modal__rating--edit label {
    display: block;
    cursor: pointer;
    width: 30px;
    font-size: 30px;
    color: var(--color-blue-star);
    position: relative;
  }
  
  .modal__rating label:before,
  .modal__rating--edit label:before {
    content: '\f005';
    font-family: FontAwesome;
    display: block;
    font-size: 30px;
    color: var(--color-blue-star);
  }
  
  .modal__rating label:after,
  .modal__rating--edit label:after {
    content: '\f005';
    font-family: FontAwesome;
    position: absolute;
    display: block;
    font-size: 30px;
    color: var(--color-blue);
    top: 0;
    opacity: 0;
  }

  .modal__rating label:hover ~ label:after,
  .modal__rating label:hover:after,
  .modal__rating input:checked ~ label:after,
  .modal__rating--edit label:hover ~ label:after,
  .modal__rating--edit label:hover:after,
  .modal__rating--edit input:checked ~ label:after {
    opacity: 1;
  }

  .modal__vehicles--details{
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    color: var(--color-text);
    width: 1000px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal__header--details{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  background-color: var(--color-blue);
  width: 1000px;
  height: 76px;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

  #map {
    width: 936px;
    height: 344px;
    border-radius: 5px;
    margin: 32px;
    position: relative;
  }
  

  .modal__details--info {
    flex: 1; 
  }

  .modal__location {
    position: absolute;
    z-index: 1000;
    height: 58px;
    width: 178px;
    background-color: var(--color-white);
    border: none;
    border-radius: 5px;
    margin: 10px 50px;
    padding: 12px;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  }